<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.itstack.naive.chat.infrastructure.dao.IGroupsDao">

    <select id="queryGroupsById" parameterType="java.lang.String" resultType="org.itstack.naive.chat.infrastructure.po.Groups">
        SELECT groupId, groupName, groupHead FROM groups where groupId = #{groupId}
    </select>

</mapper>
