@import "chat_bar.css"
@import "group_bar_chat/group_bar_chat.css"

#Chat{
    -fx-background-radius: 4px;
    -fx-border-width: 1px;
    -fx-border-radius: 4px;
    -fx-border-color: rgb(180,180,180);
    -fx-background-color: white;
}
